body {
	background-color: black;


}

.backdrop {background-image: url("../images/Cavern.jpg");
/*height: 850px;*/
height:100%;
width: 100%;
 background-size: cover;
 padding-bottom:10px;
} 


.instructions {
	background-color: #F2D8E5;
	padding: 25px 25px 30px;
    color: #34811C;
}

h1 {
	background-color: #BB6D1F;
	padding: 10px;
	color:white;
	font-weight: 2;
	text-align: center;
}

p{
	background-color: #F2D8E5;
	min-height: 250PX;
}

.target, 
.resultDisp {
	background-color: green;
	height: 125px;
    margin-top: 5px;
    width: 100%;
}

#disp{
	padding-left: 0;
}

.target {
	background-color: green;
	font-size: 20pt;
	text-align: center;
}

.resultDisp {
	background-color: lightblue;
	/*margin-left: -5px;*/
	padding-top: 5px;
	padding-left: 5px;
}

#crystals {
	margin: 10px 2px 2px 0;
	height: 125px;
}

.total {
	background-color: lightgreen;
	
}
.total1, .total2 {
	/*background-color: lightgreen;*/
	/*height: 15px;*/
	display: block;
    line-height: 2;
    text-align: center;
}


.total2 {
	height:80px;
	margin-top: 3px;
	font-size: 20pt;


}

.crystal-button {
  width: 90px;
  height: 90px;
  border-style: solid;
  padding: 2px;
  float: left;
  margin: 2px;
}

